<div class="container" *ngIf="book">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2"><img class="img-responsive" src="http://placehold.it/320x320">
                        </div>
                        <div class="col-xs-4">
                            <table class="table borderless">
                                <tbody>
                            <tr>
                                <th>{{title}}</th>
                                <td>{{book.title}}</td>
                            </tr>
                            <tr>
                                <th>{{numOfPages}}</th>
                                <td>{{book.numOfPages}}</td>
                            </tr>
                            <tr>
                                <th>{{author}}</th>
                                <td>{{book.getAuthors()}}</td>
                            </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-4">
                            <tr>
                                <th>{{description}}</th>
                                <td>{{book.description}}</td>
                            </tr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <div class="col-xs-9">
                                <h6 class="text-right">Added items?</h6>
                            </div>
                            <div class="col-xs-3">
                                <button type="button" class="btn btn-default btn-sm btn-block">
                                    Update cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row text-center">
                        <div class="col-xs-9">
                            <h4 class="text-right">Total <strong>$50.00</strong></h4>
                        </div>
                        <div class="col-xs-3">
                            <button type="button" class="btn btn-success btn-block">
                                Checkout
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>